[tooltip] {
  position: relative;
}
[tooltip]::after {
  content: attr(tooltip);
  position: absolute;width: auto;
  left: 0; top: 0;
  background: #3989c9;color: #fff;
  padding: 0.5em;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  pointer-events: none;
  opacity: 0;transition: .3s;
} 
[tooltip]:hover::after {
  opacity: 1;transform: translateX(-100%);
}